asgiref==3.9.1
Django==5.2.4
django-csp==4.0
django-filter==25.1
django-taggit==6.1.0
djangorestframework==3.16.0
drf-yasg==1.21.10
inflection==0.5.1
mysql-connector-python==9.3.0
mysqlclient==2.2.7
packaging==25.0
pytz==2025.2
PyYAML==6.0.2
sqlparse==0.5.3
tzdata==2025.2
uritemplate==4.2.0
